

html{

    text-align: center;
     font-size:x-large;
    
        }
        
    P{color: black;
    font-size: x-large;
    text-align: left;
    background-color: rgb(174, 174, 126);}
    
        
      body{
        background-color:rgb(54, 177, 103);
      }





      