
p1
{font-size: xx-large;
    background-color: orangered;

}

html{

    text-align: center;
     font-size:x-large;
    
        }
        
    P{color: black;
    font-size: x-large;
    text-align: left;
    background-color: rgb(69, 182, 238);

}
h2{font-size: larger;}
    
        
      body{    background-color: rgb(190, 220, 22);
      } 
      script{padding:0;
    margin: 0;
background-color: white}



.comment-box h2{
    
    font-size: 40px;
    margin-bottom: 15px;
}

.comment-box input{
    width: 50%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
    
}
.comment-box input:focus{
    border: 1px solid #000;
    outline: 0;
}
.comment-box textarea{
    width: 50%;
    height: 150px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
}

.comment-box textarea:focus {
    border: 1px solid #000;
    outline: 0; 
}
.comment-box button{
    border: 0;
    padding: 10px 30px;
    background: #86b0b6;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;

}
.comment-box button:hover{
    background-color: #718a8e;

}
